# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/
fastapi/venv/

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Do not ignore .env files
!.env
!*.env
